
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/App.js"></script>
<!DOCTYPE html>
<html ng-app="personaModule">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/App.js"></script>
</head>
<body >
    <div ng-controller="personaController">
        <br />
        <br />
        <br />
        <table class="table table-bordered">
            <tr>
                <th>
                    CODIGO
                </th>
                <th>
                    NOMBRE
                </th>
                <th>
                    APELLIDOS
                </th>
                <th>
                    EDAD
                </th>
            </tr>

            
            <tr ng-repeat="p in personitas">
                <td>
                    {{p.Id}}

                </td>
                <td>
                    {{p.nombre}}

                </td>
                <td>
                    {{p.apellido}}
                </td>
                <td>
                    {{p.edad}}
                </td>
            </tr>
          

        </table>
    </div>
</body>
</html>