

<link href="~/Content/Hoja.css" type="text/css" rel="stylesheet" />
<link href="~/Content/libro.css" type="text/css" rel="stylesheet" />


<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1"
               name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="~/libro/libro01.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-2"
               name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="~/libro/libro02.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-3"
               name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="~/libro/libro03.jpg">
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>
<br />
<br />
<br />


<div class="jumbotron">
    <h1>LISTA DE PERSONAS CON ANGULAR</h1>
    
    <p><a href="http://localhost:50553/Home/Consultar" class="btn btn-primary btn-lg">INGRESAR &raquo;</a></p>
</div>

